Repository georgialexandrov/nestjs-ssr: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

fix: packages/react/package.json to reduce vulnerabilities
  packages/react/package.json
Due: format

feat(render): Add JSON API mode for content negotiation
  docs/.vitepress/config.mts
  docs/api.md
  docs/configuration.md
  docs/json-api.md
  docs/public/llms.txt
  openspec/changes/json-api-mode/tasks.md
  packages/react/src/__tests__/integration/render-pipeline.integration.spec.ts
  packages/react/src/decorators/react-render.decorator.ts
  packages/react/src/index.ts
  packages/react/src/interfaces/index.ts
  packages/react/src/interfaces/json-api-response.interface.ts
  packages/react/src/interfaces/render-config.interface.ts
  packages/react/src/render/__tests__/json-api.spec.ts
  packages/react/src/render/__tests__/render.module.spec.ts
  packages/react/src/render/render.interceptor.ts
  packages/react/src/render/render.module.ts
Due: format, lint

chore(config): Ignore AI tooling config directories
  .gitignore
Due: none

docs(docs): Add json-api-mode change plan
  openspec/changes/json-api-mode/.openspec.yaml
  openspec/changes/json-api-mode/design.md
  openspec/changes/json-api-mode/proposal.md
  openspec/changes/json-api-mode/specs/content-negotiation/spec.md
  openspec/changes/json-api-mode/specs/json-api-config/spec.md
  openspec/changes/json-api-mode/tasks.md
  openspec/config.yaml
Due: format

docs(docs): Archive json-api-mode change, sync specs
  openspec/changes/archive/2026-03-16-json-api-mode/.openspec.yaml
  openspec/changes/archive/2026-03-16-json-api-mode/design.md
  openspec/changes/archive/2026-03-16-json-api-mode/proposal.md
  openspec/changes/archive/2026-03-16-json-api-mode/specs/content-negotiation/spec.md
  openspec/changes/archive/2026-03-16-json-api-mode/specs/json-api-config/spec.md
  openspec/changes/archive/2026-03-16-json-api-mode/tasks.md
  openspec/specs/content-negotiation/spec.md
  openspec/specs/json-api-config/spec.md
Due: format

chore(deps): Bump devalue to fix prototype pollution, update dev deps
  examples/minimal/package.json
  package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: format

fix: examples/minimal/package.json to reduce vulnerabilities
  examples/minimal/package.json
Due: format

docs(docs): Add fix-kebab-case-hydration change plan
  openspec/changes/fix-kebab-case-hydration/.openspec.yaml
  openspec/changes/fix-kebab-case-hydration/design.md
  openspec/changes/fix-kebab-case-hydration/proposal.md
  openspec/changes/fix-kebab-case-hydration/specs/kebab-case-hydration/spec.md
  openspec/changes/fix-kebab-case-hydration/tasks.md
Due: format

fix(hydration): Convert kebab-case filenames to PascalCase for production builds
  examples/minimal/src/views/entry-client.tsx
  openspec/changes/archive/2026-03-16-fix-kebab-case-hydration/.openspec.yaml
  openspec/changes/archive/2026-03-16-fix-kebab-case-hydration/design.md
  openspec/changes/archive/2026-03-16-fix-kebab-case-hydration/proposal.md
  openspec/changes/archive/2026-03-16-fix-kebab-case-hydration/specs/kebab-case-hydration/spec.md
  openspec/changes/archive/2026-03-16-fix-kebab-case-hydration/tasks.md
  openspec/changes/fix-kebab-case-hydration/tasks.md
  openspec/specs/kebab-case-hydration/spec.md
  packages/react/src/templates/entry-client.tsx
Due: format, lint

test(render): Add unit tests for hooks, ViteInitializer, and StringRenderer
  packages/react/src/react/hooks/__tests__/use-page-context.spec.tsx
  packages/react/src/render/__tests__/string-renderer.spec.ts
  packages/react/src/render/__tests__/vite-initializer.service.spec.ts
Due: format, lint

chore(deps): Bump major deps (vite 8, eslint 10, plugin-react 6) and patch deps
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
  examples/minimal/eslint.config.mjs
  examples/minimal/package.json
  examples/minimal/vite.config.js
  package.json
  packages/react/package.json
  packages/react/src/cli/init.ts
  pnpm-lock.yaml
Due: format, lint

fix(deps): Bump vitest 4.1.2, happy-dom 20.8.9 to resolve CVEs and add minimum-release-age
  .npmrc
  packages/react/package.json
  pnpm-lock.yaml
Due: format

feat(cli): Add SWC builder support for .tsx compilation
  packages/react/package.json
  packages/react/src/cli/__tests__/swc-compilation.spec.ts
  packages/react/src/cli/__tests__/swc-support.spec.ts
  packages/react/src/cli/init.ts
  packages/react/src/cli/swc-support.ts
  pnpm-lock.yaml
Due: format, lint

chore(ci): Bump actions/configure-pages from 5 to 6
  .github/workflows/deploy-docs.yml
Due: none

chore(config): Allowlist dependency build scripts for pnpm 10+
  package.json
Due: format

chore(config): Move pnpm build-script allowlist to pnpm-workspace.yaml
  package.json
  pnpm-workspace.yaml
Due: format

chore(ci): Pin pnpm version via packageManager field
  .github/workflows/ci.yml
  package.json
Due: format

chore(ci): Pin pnpm to exact 10.15.0 via setup action
  .github/workflows/ci.yml
Due: none

fix(ci): Pin pnpm version in release and docs workflows
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
Due: none

fix(examples): Use function form of manualChunks for vite 8/rolldown
  examples/minimal/vite.config.js
Due: format

fix(render): Disable HMR WebSocket on SSR Vite middleware server
  packages/react/src/render/__tests__/vite-initializer.service.spec.ts
  packages/react/src/render/vite-initializer.service.ts
Due: format, lint

fix(render): Use hmr:{port:0} and close HTTP connections on hot reload
  packages/react/src/render/__tests__/vite-initializer.service.spec.ts
  packages/react/src/render/vite-initializer.service.ts
Due: format, lint

chore(deps): Bump dependencies across workspace
  examples/minimal/package.json
  package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: format

fix(render): Destroy upgraded sockets on shutdown to unblock HMR restart
  packages/react/src/render/__tests__/vite-initializer.service.spec.ts
  packages/react/src/render/vite-initializer.service.ts
Due: format, lint

fix(render): Discover and resolve view components in submodule views dirs
  examples/minimal/src/app.module.ts
  examples/minimal/src/specials/specials.controller.ts
  examples/minimal/src/specials/views/recipe-list.tsx
  examples/minimal/src/views/entry-client.tsx
  examples/minimal/src/views/recipes-layout.tsx
  packages/react/src/client.ts
  packages/react/src/react/navigation/__tests__/resolve-component.spec.ts
  packages/react/src/react/navigation/hydrate-segment.tsx
  packages/react/src/react/navigation/resolve-component.ts
  packages/react/src/templates/entry-client.tsx
Due: format, lint

fix(security): Harden segment requests, head tags, and env detection
  .commitlintrc.json
  packages/react/src/__tests__/integration/render-pipeline.integration.spec.ts
  packages/react/src/interfaces/index.ts
  packages/react/src/interfaces/render-config.interface.ts
  packages/react/src/render/__tests__/environment.util.spec.ts
  packages/react/src/render/__tests__/render.interceptor.spec.ts
  packages/react/src/render/__tests__/render.service.spec.ts
  packages/react/src/render/__tests__/segment-security.spec.ts
  packages/react/src/render/__tests__/string-renderer.spec.ts
  packages/react/src/render/__tests__/template-parser.service.spec.ts
  packages/react/src/render/__tests__/vite-initializer.service.spec.ts
  packages/react/src/render/component-name.util.ts
  packages/react/src/render/environment.util.ts
  packages/react/src/render/render.interceptor.ts
  packages/react/src/render/render.module.ts
  packages/react/src/render/render.service.ts
  packages/react/src/render/renderers/string-renderer.ts
  packages/react/src/render/server-module-loader.ts
  packages/react/src/render/template-parser.service.ts
  packages/react/src/render/vite-initializer.service.ts
Due: format, lint

refactor(render): Unify renderer pipelines and fix stream script placement
  packages/react/src/render/__tests__/string-renderer.spec.ts
  packages/react/src/render/renderers/stream-renderer.ts
  packages/react/src/render/renderers/string-renderer.ts
  packages/react/src/render/template.util.ts
Due: format, lint

test: Add CLI init, component-name, and stream renderer coverage
  packages/react/package.json
  packages/react/src/cli/__tests__/init.spec.ts
  packages/react/src/cli/init.ts
  packages/react/src/render/__tests__/component-name.util.spec.ts
  packages/react/src/render/__tests__/stream-renderer.spec.ts
  packages/react/src/render/__tests__/vite-initializer.service.spec.ts
  packages/react/test/cli-init/fixtures/.gitignore
  packages/react/test/cli-init/smoke.ts
  packages/react/vitest.config.ts
Due: format, lint

fix(render): Make dev-server shutdown survive hot-reload races
  packages/react/src/render/__tests__/vite-initializer.service.spec.ts
  packages/react/src/render/vite-initializer.service.ts
Due: format, lint

chore(deps): Bump nestjs, react, vite, and dev dependency groups
  examples/minimal/package.json
  package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: format

chore(deps): Bump non-breaking dependency updates
  examples/minimal/package.json
  package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: format

chore: Adopt pnpm 11.8.0
  package.json
  pnpm-workspace.yaml
Due: format

ci: Let pnpm/action-setup read version from packageManager
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
Due: none

fix(ci): pin pnpm to node 20 compatible version
  package.json
Due: format

chore(deps): Apply non-breaking updates and bump actions/checkout to v7
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
  .npmrc
  examples/minimal/package.json
  package.json
  packages/react/package.json
  packages/react/src/cli/init.ts
  packages/react/test/cli-init/smoke.ts
  packages/react/test/e2e/setup/create-fixtures.ts
  packages/react/test/integration/setup/create-fixtures.ts
  pnpm-lock.yaml
Due: format, lint

feat(render): Add nest-cli.json SSR path resolution for monorepos
  packages/react/src/__tests__/integration/monorepo-paths.integration.spec.ts
  packages/react/src/__tests__/integration/render-pipeline.integration.spec.ts
  packages/react/src/cli/__tests__/init.spec.ts
  packages/react/src/cli/init-project-context.ts
  packages/react/src/cli/init.ts
  packages/react/src/config/__tests__/nest-project-resolver.spec.ts
  packages/react/src/config/nest-project-paths.interface.ts
  packages/react/src/config/nest-project-resolver.ts
  packages/react/src/config/ssr-project-paths.token.ts
  packages/react/src/index.ts
  packages/react/src/interfaces/index.ts
  packages/react/src/interfaces/render-config.interface.ts
  packages/react/src/render/__tests__/render.module.spec.ts
  packages/react/src/render/__tests__/render.service.spec.ts
  packages/react/src/render/__tests__/stream-renderer.spec.ts
  packages/react/src/render/__tests__/string-renderer.spec.ts
  packages/react/src/render/__tests__/template-parser.service.spec.ts
  packages/react/src/render/__tests__/test-project-paths.ts
  packages/react/src/render/__tests__/vite-initializer.service.spec.ts
  packages/react/src/render/render.module.ts
  packages/react/src/render/render.service.ts
  packages/react/src/render/server-module-loader.ts
  packages/react/src/render/template-parser.service.ts
  packages/react/src/render/vite-initializer.service.ts
Due: format, lint

fix(render): Proxy Vite's HMR WebSocket handshake
  packages/react/src/render/__tests__/vite-initializer.service.spec.ts
  packages/react/src/render/vite-initializer.service.ts
Due: format, lint

fix(examples): Pin Vite to a fixed port and set NODE_ENV in prod scripts
  examples/minimal/package.json
  examples/minimal/vite.config.js
Due: format

docs: Document the ws.clientPort requirement for HMR
  docs/development.md
  examples/minimal/README.md
Due: format

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,md}
  lint: any of: *.{ts,tsx}
