Repository georgialexandrov/nestjs-ssr: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Pre-commit hooks
pre-commit:
  parallel: true
  commands:
    # Format staged files
    format:
      glob: "*.{ts,tsx,js,jsx,json,md}"
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true

    # Lint staged TypeScript files
    lint:
      glob: "*.{ts,tsx}"
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true

# Commit message validation
commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit {1}

# Pre-push hooks
pre-push:
  commands:
    # Run tests before pushing
    test:
      run: pnpm test:package

fix(hydration): Wrap SSR output with PageContextProvider for hooks support
  packages/react/src/client.ts
  packages/react/src/index.ts
  packages/react/src/react/hooks/use-page-context.tsx
  packages/react/src/templates/entry-server.tsx
Due: format, lint

feat(streaming): Add inline error overlay for streaming SSR errors
  packages/react/src/render/__tests__/streaming-error-handler.spec.ts
  packages/react/src/render/streaming-error-handler.ts
Due: format, lint

refactor(render): Extract StringRenderer and StreamRenderer classes
  docs/guide/configuration.md
  docs/guide/rendering.md
  packages/react/src/interfaces/render-config.interface.ts
  packages/react/src/render/__tests__/render.service.spec.ts
  packages/react/src/render/render.module.ts
  packages/react/src/render/render.service.ts
  packages/react/src/render/renderers/index.ts
  packages/react/src/render/renderers/stream-renderer.ts
  packages/react/src/render/renderers/string-renderer.ts
Due: format, lint

feat(render): Add segment rendering and client-side navigation
  docs/.vitepress/config.mts
  docs/guide/api.md
  docs/guide/navigation.md
  docs/guide/rendering.md
  docs/public/llms.txt
  packages/react/src/client.ts
  packages/react/src/global.d.ts
  packages/react/src/interfaces/index.ts
  packages/react/src/interfaces/segment.interface.ts
  packages/react/src/react/hooks/use-page-context.tsx
  packages/react/src/react/navigation/hooks.ts
  packages/react/src/react/navigation/hydrate-segment.tsx
  packages/react/src/react/navigation/index.ts
  packages/react/src/react/navigation/link.tsx
  packages/react/src/react/navigation/navigate.ts
  packages/react/src/react/navigation/navigation-context.tsx
  packages/react/src/render/render.interceptor.ts
  packages/react/src/render/render.service.ts
  packages/react/src/render/renderers/index.ts
  packages/react/src/render/renderers/string-renderer.ts
  packages/react/src/templates/entry-client.tsx
  packages/react/src/templates/entry-server.tsx
Due: format, lint

feat(examples): Add client-side navigation demo with active link highlighting
  examples/minimal/src/app.controller.ts
  examples/minimal/src/views/about.tsx
  examples/minimal/src/views/entry-client.tsx
  examples/minimal/src/views/entry-server.tsx
  examples/minimal/src/views/home.tsx
  examples/minimal/src/views/index.html
  examples/minimal/src/views/layout.tsx
  examples/minimal/src/views/user-detail.tsx
  examples/minimal/src/views/users.tsx
  examples/minimal/vite.config.js
  pnpm-lock.yaml
Due: format, lint

fix(render): Fix duplicate layout and segment rendering
  docs/guide/navigation.md
  docs/public/llms.txt
  examples/minimal/package.json
  examples/minimal/src/app.controller.ts
  examples/minimal/src/main.ts
  examples/minimal/src/views/entry-client.tsx
  examples/minimal/src/views/entry-server.tsx
  examples/minimal/src/views/layout.tsx
  packages/react/src/render/render.interceptor.ts
  packages/react/src/render/renderers/string-renderer.ts
  packages/react/src/templates/entry-server.tsx
Due: format, lint

fix(render): Load root layout from entry-server bundle in production
  README.md
  docs/.vitepress/config.mts
  docs/guide/installation.md
  docs/guide/layouts.md
  examples/minimal/src/app.controller.ts
  examples/minimal/src/views/entry-server.tsx
  packages/react/src/render/__tests__/render.service.spec.ts
  packages/react/src/render/render.service.ts
  packages/react/src/templates/entry-server.tsx
  packages/react/test/integration/setup/create-fixtures.ts
  packages/react/test/integration/setup/layout.tsx
  packages/react/test/integration/specs/hydration.spec.ts
Due: format, lint

fix(hydration): Align client-side layout composition with server rendering
  packages/react/src/templates/entry-client.tsx
Due: format, lint

docs: Add Tailwind CSS integration guide
  docs/.vitepress/config.mts
  docs/guide/tailwindcss.md
Due: format

fix(cli): Resolve TypeScript and ESLint warnings
  packages/react/src/cli/init.ts
  packages/react/src/render/error-pages/error-page-development.tsx
  packages/react/src/render/error-pages/error-page-production.tsx
Due: format, lint

chore(ci): Add coverage check to pre-commit and adjust thresholds
  lefthook.yml
  packages/react/vitest.config.ts
Due: format, lint

chore(ci): Add full CI checks to pre-commit hook
  lefthook.yml
  packages/react/etc/react.api.md
Due: format

fix(config): Use project TypeScript for api-extractor
  packages/react/api-extractor.json
Due: format

fix(config): Regenerate API report with bundled TypeScript format
  .prettierignore
  packages/react/etc/react.api.md
Due: format

chore(ci): Remove API surface check from CI and pre-commit
  .github/workflows/ci.yml
  lefthook.yml
Due: none

feat(render): Add context factory for custom context properties
  docs/.vitepress/config.mts
  docs/guide/authentication.md
  docs/guide/request-context.md
  examples/minimal/src/app.module.ts
  examples/minimal/src/auth.guard.ts
  examples/minimal/src/lib/ssr-hooks.ts
  examples/minimal/src/views/layout.tsx
  packages/react/src/index.ts
  packages/react/src/interfaces/index.ts
  packages/react/src/interfaces/render-config.interface.ts
  packages/react/src/interfaces/render-context.interface.ts
  packages/react/src/render/__tests__/render.interceptor.spec.ts
  packages/react/src/render/render.interceptor.ts
  packages/react/src/render/render.module.ts
Due: format, lint

docs: Reorganize documentation structure
  docs/.vitepress/config.mts
  docs/api.md
  docs/configuration.md
  docs/development.md
  docs/installation.md
  docs/layouts.md
  docs/navigation.md
  docs/rendering.md
  docs/request-context.md
Due: format

fix(layout): Fix nested layout composition and hydration
  docs/layouts.md
  examples/minimal/src/app.controller.ts
  examples/minimal/src/app.module.ts
  examples/minimal/src/users.controller.ts
  examples/minimal/src/views/entry-client.tsx
  examples/minimal/src/views/entry-server.tsx
  examples/minimal/src/views/users-layout.tsx
  examples/minimal/src/views/users-settings.tsx
  packages/react/src/__tests__/unit/compose-layouts.spec.tsx
  packages/react/src/interfaces/segment.interface.ts
  packages/react/src/react/hooks/use-page-context.tsx
  packages/react/src/react/navigation/hydrate-segment.tsx
  packages/react/src/react/navigation/navigate.ts
  packages/react/src/render/renderers/string-renderer.ts
  packages/react/src/templates/entry-client.tsx
  packages/react/src/templates/entry-server.tsx
  packages/react/vitest.config.ts
Due: format, lint

docs: Add context factory to llms.txt
  docs/public/llms.txt
Due: none

docs: Fix broken links and update homepage
  docs/.vitepress/config.mts
  docs/configuration.md
  docs/guide/layouts.md
  docs/index.md
  docs/rendering.md
Due: format

fix: packages/react/package.json to reduce vulnerabilities
  packages/react/package.json
Due: format

feat(render): Add Fastify adapter support for streaming SSR
  packages/react/package.json
  packages/react/src/interfaces/http-adapters.interface.ts
  packages/react/src/interfaces/index.ts
  packages/react/src/interfaces/render-config.interface.ts
  packages/react/src/render/__tests__/streaming-error-handler.spec.ts
  packages/react/src/render/adapters/__tests__/http-adapter-utils.spec.ts
  packages/react/src/render/adapters/http-adapter-utils.ts
  packages/react/src/render/adapters/index.ts
  packages/react/src/render/render.interceptor.ts
  packages/react/src/render/render.service.ts
  packages/react/src/render/renderers/stream-renderer.ts
  packages/react/src/render/streaming-error-handler.ts
  packages/react/src/render/vite-initializer.service.ts
  pnpm-lock.yaml
Due: format, lint

chore(ci): Bump actions/checkout to v6 and upload-pages-artifact to v4
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
Due: none

chore(deps): Bump dependencies across monorepo
  examples/minimal/package.json
  package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: format

fix(render): Handle missing request.path for Fastify adapter
  packages/react/src/render/render.interceptor.ts
Due: format, lint

feat(examples): Add minimal Fastify example with streaming SSR
  examples/minimal-fastify/nest-cli.json
  examples/minimal-fastify/package.json
  examples/minimal-fastify/src/app.controller.ts
  examples/minimal-fastify/src/app.module.ts
  examples/minimal-fastify/src/auth.guard.ts
  examples/minimal-fastify/src/lib/ssr-hooks.ts
  examples/minimal-fastify/src/main.ts
  examples/minimal-fastify/src/users.controller.ts
  examples/minimal-fastify/src/views/about.tsx
  examples/minimal-fastify/src/views/entry-client.tsx
  examples/minimal-fastify/src/views/entry-server.tsx
  examples/minimal-fastify/src/views/home.tsx
  examples/minimal-fastify/src/views/index.html
  examples/minimal-fastify/src/views/layout.tsx
  examples/minimal-fastify/src/views/user-detail.tsx
  examples/minimal-fastify/src/views/users-layout.tsx
  examples/minimal-fastify/src/views/users-settings.tsx
  examples/minimal-fastify/src/views/users.tsx
  examples/minimal-fastify/tsconfig.json
  examples/minimal-fastify/vite.config.js
Due: format, lint

test(render): Add Fastify adapter compatibility tests for interceptor
  packages/react/src/render/__tests__/render.interceptor.spec.ts
Due: format, lint

fix(hydration): Resolve layout hydration on hard refresh
  packages/react/src/templates/entry-client.tsx
  packages/react/test/integration/global-setup.ts
  packages/react/test/integration/setup/create-fixtures.ts
  packages/react/test/integration/setup/item-detail.tsx
  packages/react/test/integration/setup/item-list.tsx
  packages/react/test/integration/setup/items-layout.tsx
  packages/react/test/integration/specs/layouts.spec.ts
  packages/react/vitest.config.ts
Due: format, lint

test(render): Add E2E acceptance tests for Express and Fastify adapters
  packages/react/package.json
  packages/react/test/e2e/fixtures/.gitignore
  packages/react/test/e2e/global-setup.ts
  packages/react/test/e2e/global-teardown.ts
  packages/react/test/e2e/playwright.config.ts
  packages/react/test/e2e/setup/create-fixtures.ts
  packages/react/test/e2e/setup/port-config.ts
  packages/react/test/e2e/setup/reference/adapters/express-main.ts
  packages/react/test/e2e/setup/reference/adapters/fastify-main.ts
  packages/react/test/e2e/setup/reference/app.controller.ts
  packages/react/test/e2e/setup/reference/recipes.controller.ts
  packages/react/test/e2e/setup/reference/recipes.service.ts
  packages/react/test/e2e/setup/reference/views/home.tsx
  packages/react/test/e2e/setup/reference/views/layout.tsx
  packages/react/test/e2e/setup/reference/views/recipe-detail.tsx
  packages/react/test/e2e/setup/reference/views/recipe-list.tsx
  packages/react/test/e2e/setup/reference/views/recipes-layout.tsx
  packages/react/test/e2e/specs/equivalence.spec.ts
  packages/react/test/e2e/specs/hydration.spec.ts
  packages/react/test/e2e/specs/layouts.spec.ts
  packages/react/test/e2e/specs/navigation.spec.ts
  packages/react/test/e2e/specs/seo.spec.ts
Due: format, lint

docs: Overhaul homepage, README, and llms.txt
  README.md
  docs/.vitepress/components/HeroSection.vue
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/index.ts
  docs/index.md
  docs/public/llms.txt
  packages/react/README.md
Due: format, lint

chore(deps): Bump patch-level dependencies
  examples/minimal/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: format

chore(deps): Bump @fastify/static, @eslint/js, @types/supertest
  examples/minimal/package.json
  lefthook.yml
  package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: format

chore(deps): Bump dev dependencies and fix dependabot config
  .github/dependabot.yml
  examples/minimal/package.json
  package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: format

chore: Add .internal/ to gitignore, fix lint error in auth guard
  .gitignore
  examples/minimal/src/auth.guard.ts
Due: format, lint

chore(deps): Bump dev dependencies and NestJS to fix security vulnerabilities
  examples/minimal/package.json
  package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: format
