Repository georgialexandrov/nestjs-ssr: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

fix(render): Attach the caught error as cause on template read failures
  packages/react/src/render/render.service.ts
Due: format, lint

chore(deps): Bump vite, @eslint/js, and actions/setup-node
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
  examples/minimal/package.json
  package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: format

chore(config): Add knip and dependency-cruiser, drop unused deps and dead code
  .github/workflows/ci.yml
  examples/minimal/package.json
  knip.json
  lefthook.yml
  package.json
  packages/react/.dependency-cruiser.cjs
  packages/react/package.json
  packages/react/src/cli/swc-support.ts
  packages/react/src/interfaces/http-adapters.interface.ts
  packages/react/src/interfaces/index.ts
  packages/react/src/interfaces/render-config.interface.ts
  packages/react/src/render/adapters/index.ts
  packages/react/src/render/error-pages/index.ts
  packages/react/src/render/renderers/index.ts
  pnpm-lock.yaml
Due: format, lint

fix(deps): Clear all 61 audit advisories
  examples/minimal/package.json
  package.json
  packages/react/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

feat(render): Add nest-cli.json SSR path resolution for monorepos
  packages/react/src/__tests__/integration/monorepo-paths.integration.spec.ts
  packages/react/src/__tests__/integration/render-pipeline.integration.spec.ts
  packages/react/src/cli/__tests__/init.spec.ts
  packages/react/src/cli/init-project-context.ts
  packages/react/src/cli/init.ts
  packages/react/src/config/__tests__/nest-project-resolver.spec.ts
  packages/react/src/config/nest-project-paths.interface.ts
  packages/react/src/config/nest-project-resolver.ts
  packages/react/src/config/ssr-project-paths.token.ts
  packages/react/src/index.ts
  packages/react/src/interfaces/index.ts
  packages/react/src/interfaces/render-config.interface.ts
  packages/react/src/render/__tests__/render.module.spec.ts
  packages/react/src/render/__tests__/render.service.spec.ts
  packages/react/src/render/__tests__/stream-renderer.spec.ts
  packages/react/src/render/__tests__/string-renderer.spec.ts
  packages/react/src/render/__tests__/template-parser.service.spec.ts
  packages/react/src/render/__tests__/test-project-paths.ts
  packages/react/src/render/__tests__/vite-initializer.service.spec.ts
  packages/react/src/render/render.module.ts
  packages/react/src/render/render.service.ts
  packages/react/src/render/server-module-loader.ts
  packages/react/src/render/template-parser.service.ts
  packages/react/src/render/vite-initializer.service.ts
Due: format, lint

fix(render): Load the user vite config on the embedded SSR server
  packages/react/src/config/nest-project-resolver.ts
  packages/react/src/render/__tests__/vite-initializer.service.spec.ts
  packages/react/src/render/vite-initializer.service.ts
Due: format, lint

style(navigation): Apply prettier formatting to getCurrentLayouts
  packages/react/src/react/navigation/navigate.ts
Due: format, lint

fix(test): Make browser fixtures build and run deterministically
  examples/minimal/vite.config.mjs
  packages/react/package.json
  packages/react/test/e2e/setup/create-fixtures.ts
  packages/react/test/integration/setup/create-fixtures.ts
  pnpm-lock.yaml
Due: format, lint

fix(render): Silence Vite startup warnings in dev
  examples/minimal/vite.config.mjs
  packages/react/src/cli/init.ts
  packages/react/src/render/__tests__/vite-initializer.service.spec.ts
  packages/react/src/render/vite-initializer.service.ts
Due: format, lint

ci: Run the Playwright suites on every pull request
  .github/workflows/ci.yml
  openspec/changes/2026-08-15-ssr-regression-safety-net/design.md
  openspec/changes/2026-08-15-ssr-regression-safety-net/proposal.md
  openspec/changes/2026-08-15-ssr-regression-safety-net/specs/ssr-regression-safety-net/spec.md
  openspec/changes/2026-08-15-ssr-regression-safety-net/tasks.md
Due: format

fix(examples): Fail gracefully when the dev port is already taken
  examples/minimal/src/main.ts
Due: format, lint

chore(deps): Bump commitlint config and concurrently to current majors
  examples/minimal/package.json
  package.json
  pnpm-lock.yaml
Due: format

docs: Align API reference with the shipped props and head API
  docs/api.md
  docs/guide/tailwindcss.md
  docs/rendering.md
  packages/react/CLAUDE.md
Due: format

docs(security): Add a real reporting channel to the security policy
  SECURITY.md
Due: format

docs: Add AGENTS.md mirroring CLAUDE.md
  AGENTS.md
Due: format

fix(config): Drop dead re-export barrels so knip passes
  packages/react/src/config/ssr-project-paths.token.ts
  packages/react/src/interfaces/index.ts
Due: format, lint

chore(deps): Require Node 22.15 and adopt http-proxy-middleware v4
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
  examples/minimal/package.json
  package.json
  packages/react/package.json
  packages/react/src/cli/init.ts
  packages/react/test/cli-init/smoke.ts
  packages/react/test/e2e/setup/create-fixtures.ts
  packages/react/test/integration/setup/create-fixtures.ts
  pnpm-lock.yaml
Due: format, lint

docs: State the Node 22.15 requirement
  README.md
  docs/installation.md
  packages/react/README.md
Due: format

ci: Test on Node 26 and pin engines to the supported lines
  .github/workflows/ci.yml
  package.json
  packages/react/package.json
Due: format

fix(security): Close three exposure paths in the dev proxy and navigation
  docs/api.md
  docs/development.md
  docs/navigation.md
  examples/minimal/package.json
  packages/react/CLAUDE.md
  packages/react/src/__tests__/integration/render-pipeline.integration.spec.ts
  packages/react/src/cli/__tests__/init.spec.ts
  packages/react/src/cli/init.ts
  packages/react/src/client.ts
  packages/react/src/interfaces/render-config.interface.ts
  packages/react/src/react/navigation/__tests__/same-origin.spec.ts
  packages/react/src/react/navigation/index.ts
  packages/react/src/react/navigation/link.tsx
  packages/react/src/react/navigation/navigate.ts
  packages/react/src/react/navigation/same-origin.ts
  packages/react/src/render/__tests__/environment.util.spec.ts
  packages/react/src/render/__tests__/vite-initializer.service.spec.ts
  packages/react/src/render/environment.util.ts
  packages/react/src/render/vite-initializer.service.ts
  packages/react/test/e2e/setup/create-fixtures.ts
  packages/react/test/integration/setup/create-fixtures.ts
Due: format, lint

fix(ci): Restore npm auth token on the publish step
  .github/workflows/release.yml
Due: none

ci: Gate releases on the browser matrix and disable hooks in the release job
  .github/workflows/browser-tests.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: Type the render pipeline and close the filesystem races
  examples/minimal/src/views/recipes-layout.tsx
  packages/react/package.json
  packages/react/src/cli/init.ts
  packages/react/src/decorators/react-render.decorator.ts
  packages/react/src/global.d.ts
  packages/react/src/interfaces/component.interface.ts
  packages/react/src/interfaces/index.ts
  packages/react/src/interfaces/layout.interface.ts
  packages/react/src/interfaces/page-props.interface.ts
  packages/react/src/interfaces/render-response.interface.ts
  packages/react/src/interfaces/segment.interface.ts
  packages/react/src/react/navigation/hydrate-segment.tsx
  packages/react/src/react/navigation/link.tsx
  packages/react/src/react/navigation/navigate.ts
  packages/react/src/render/__tests__/render.interceptor.spec.ts
  packages/react/src/render/__tests__/render.service.spec.ts
  packages/react/src/render/__tests__/streaming-error-handler.spec.ts
  packages/react/src/render/__tests__/string-renderer.spec.ts
  packages/react/src/render/adapters/http-adapter-utils.ts
  packages/react/src/render/component-name.util.ts
  packages/react/src/render/error.util.ts
  packages/react/src/render/render.interceptor.ts
  packages/react/src/render/render.service.ts
  packages/react/src/render/renderers/stream-renderer.ts
  packages/react/src/render/renderers/string-renderer.ts
  packages/react/src/render/server-module-loader.ts
  packages/react/src/render/vite-initializer.service.ts
  packages/react/test/e2e/setup/create-fixtures.ts
  packages/react/test/integration/setup/create-fixtures.ts
Due: format, lint

chore(deps): Bump dependencies to resolve open Dependabot PRs
  .github/workflows/browser-tests.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .gitignore
  examples/minimal/package.json
  examples/minimal/tsconfig.json
  package.json
  packages/react/package.json
  packages/react/tsconfig.json
  pnpm-lock.yaml
Due: format

fix(interfaces): Drop the unused barrel re-exports
  packages/react/src/interfaces/index.ts
Due: format, lint

ci(security): Publish to npm via trusted publishing
  .github/workflows/release.yml
Due: none

ci: Cap the browser matrix at 30 minutes
  .github/workflows/browser-tests.yml
Due: none

chore(deps): Take TypeScript 6 and the rest of the toolchain bumps
  .github/workflows/browser-tests.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .gitignore
  examples/minimal/package.json
  examples/minimal/tsconfig.json
  package.json
  packages/react/api-extractor.json
  packages/react/etc/react.api.md
  packages/react/package.json
  packages/react/src/interfaces/index.ts
  packages/react/test/e2e/setup/create-fixtures.ts
  packages/react/tsconfig.api-extractor.json
  packages/react/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint

Revert "chore(ci): Release v0.3.29"
  CHANGELOG.md
  packages/react/package.json
Due: format

ci: Bump pinned actions and give npm publish its credential back
  .github/workflows/codeql.yml
  .github/workflows/release.yml
Due: none

ci: Keep the publish step credential-free, as the policy requires
  .github/workflows/release.yml
Due: none

chore(deps-dev): Bump vitest to 5 to match @vitest/ui and coverage-v8
  packages/react/package.json
  pnpm-lock.yaml
Due: format

chore(deps): Hold the CLI at 11 and move CodeQL's init with the rest
  .github/workflows/codeql.yml
  examples/minimal/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: format

chore(deps): Keep the Nest runtime on 11
  examples/minimal/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: format

chore(deps): Pin every dependency to an exact version
  examples/minimal/package.json
  package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: format

fix: examples/minimal/package.json to reduce vulnerabilities
  examples/minimal/package.json
Due: format

chore(deps): Bring every dependency current within Nest 11 for 0.3.31
  .github/workflows/browser-tests.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
  examples/minimal/package.json
  package.json
  packages/react/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,md}
  lint: any of: *.{ts,tsx}
