Repository georgialexandrov/nestjs-ssr: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# Lefthook configuration
# Docs: https://github.com/evilmartians/lefthook

# Pre-commit hooks
pre-commit:
  parallel: true
  commands:
    # Format staged files
    format:
      glob: "*.{ts,tsx,js,jsx,json,md}"
      run: pnpm exec prettier --write {staged_files}
      stage_fixed: true

    # Lint staged TypeScript files
    lint:
      glob: "*.{ts,tsx}"
      run: pnpm exec eslint --fix {staged_files}
      stage_fixed: true

# Commit message validation
commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit {1}

# Pre-push hooks
pre-push:
  commands:
    # Run tests before pushing
    test:
      run: pnpm test:package

fix(hooks): Restore the useRequest name in its outside-provider error
  packages/react/src/react/hooks/__tests__/use-page-context.spec.tsx
  packages/react/src/react/hooks/use-page-context.tsx
Due: format, lint

docs(docs): Tick render-pipeline-hardening release checks 4.1 and 4.2
  openspec/changes/2026-09-28-render-pipeline-hardening/tasks.md
Due: format

chore(ci): Format sources that CI's prettier check rejected
  packages/react/src/react/navigation/__tests__/navigate-race.spec.ts
  packages/react/src/react/navigation/navigate.ts
  packages/react/src/render/__tests__/fastify-static-route-priority.spec.ts
  packages/react/src/render/__tests__/render.service.spec.ts
  packages/react/src/render/__tests__/template-parser.service.spec.ts
  packages/react/src/render/__tests__/vite-initializer.service.spec.ts
  packages/react/src/render/pipeline/__tests__/hydration-serializer.json-path.spec.ts
  packages/react/src/render/pipeline/__tests__/public-snapshot.spec.ts
  packages/react/src/render/pipeline/__tests__/response-policy.spec.ts
  packages/react/src/render/pipeline/__tests__/response-writer.spec.ts
  packages/react/src/render/pipeline/__tests__/static-asset-index.spec.ts
  packages/react/src/render/pipeline/static-asset-index.ts
  packages/react/src/render/render.service.ts
  packages/react/src/render/template-parser.service.ts
Due: format, lint

fix(security): Parse the raw Cookie header into a prototype-less jar
  packages/react/src/render/pipeline/public-context.ts
Due: format, lint

fix(vite): Match view files without a backtracking regex
  packages/react/src/vite/view-names.ts
Due: format, lint

build(ci): Build the package before knip in the lint job
  .github/workflows/ci.yml
Due: none

fix(security): Keep raw-header cookies in a Map
  packages/react/src/render/pipeline/public-context.ts
Due: format, lint

build(deps): Pin patched fastify and fast-uri, ignore the unfixed braces advisory
  packages/react/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

build(ci): Publish semver prereleases under the next dist-tag
  .github/workflows/release.yml
Due: none

fix(security): Reject segment responses that redirect to another origin
  docs/security.md
  packages/react/src/react/navigation/__tests__/navigate-race.spec.ts
  packages/react/src/react/navigation/navigate.ts
Due: format, lint

fix(security): Check head and layout props against payload limits
  docs/api.md
  docs/security.md
  packages/react/etc/react.api.md
  packages/react/src/__tests__/integration/render-pipeline.integration.spec.ts
  packages/react/src/render/__tests__/render.interceptor.spec.ts
  packages/react/src/render/__tests__/render.service.spec.ts
  packages/react/src/render/__tests__/representation-pipeline.spec.ts
  packages/react/src/render/pipeline/__tests__/public-payload.spec.ts
  packages/react/src/render/pipeline/public-payload.ts
  packages/react/src/render/render.interceptor.ts
  packages/react/src/render/render.service.ts
Due: format, lint

docs(docs): Note metadata validation and redirect refusal for 0.4.0-rc.1
  docs/migration/0.3-to-0.4.md
  docs/performance.md
Due: format

fix(config): Read tsconfig as JSONC and follow extends for outDir
  packages/react/package.json
  packages/react/src/config/__tests__/jsonc.spec.ts
  packages/react/src/config/__tests__/nest-project-resolver.spec.ts
  packages/react/src/config/jsonc.ts
  packages/react/src/config/nest-project-resolver.ts
Due: format, lint

docs(docs): List 0.4.x as a supported version in SECURITY.md
  SECURITY.md
Due: format

build(deps): Update dependencies for 0.4.0, adopt devalue 6 and require Node 22.17
  examples/minimal/package.json
  package.json
  packages/react/package.json
  packages/react/src/render/pipeline/__tests__/public-snapshot.equivalence.spec.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint

fix(cli): Install the Vite and plugin-react pair the library is tested on
  packages/react/src/cli/init.ts
Due: format, lint

test(cli): Bring the init smoke test up to Nest 12 projects
  packages/react/test/cli-init/smoke.ts
Due: format, lint

docs(docs): Require Node.js 22.17 for 0.4
  README.md
  docs/installation.md
  docs/migration/0.3-to-0.4.md
  packages/react/README.md
Due: format

docs(docs): Archive render-pipeline-hardening, sync specs
  openspec/changes/archive/2026-10-04-render-pipeline-hardening/.openspec.yaml
  openspec/changes/archive/2026-10-04-render-pipeline-hardening/design.md
  openspec/changes/archive/2026-10-04-render-pipeline-hardening/proposal.md
  openspec/changes/archive/2026-10-04-render-pipeline-hardening/specs/client-navigation-integrity/spec.md
  openspec/changes/archive/2026-10-04-render-pipeline-hardening/specs/render-response-security/spec.md
  openspec/changes/archive/2026-10-04-render-pipeline-hardening/specs/static-asset-serving/spec.md
  openspec/changes/archive/2026-10-04-render-pipeline-hardening/tasks.md
  openspec/specs/client-navigation-integrity/spec.md
  openspec/specs/render-response-security/spec.md
  openspec/specs/static-asset-serving/spec.md
Due: format

build(ci): Changelog stable releases from the last stable tag
  .github/workflows/release.yml
Due: none

build(deps): Bump dev tooling and CodeQL, patch transitive advisories
  .github/workflows/codeql.yml
  examples/minimal/package.json
  package.json
  packages/react/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

fix(security): Refuse non-identifiers in stampDisplayName
  packages/react/src/render/pipeline/safe-serialize.ts
  packages/react/src/vite/__tests__/view-names.spec.ts
  packages/react/src/vite/index.ts
Due: format, lint

fix(cli): Start dev from the fresh compile, not a stale dist
  packages/react/src/cli/__tests__/dev-startup.spec.ts
  packages/react/src/cli/dev.ts
Due: format, lint

fix(cli): Read the compiler's completion line from stderr too
  packages/react/src/cli/__tests__/dev-startup.spec.ts
  packages/react/src/cli/dev.ts
Due: format, lint
