Repository georgialexandrov/nestjs-ssr: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

fix(render): Harden response pipeline without API breaks
  docs/api.md
  docs/configuration.md
  docs/json-api.md
  docs/migration/secure-response-negotiation.md
  docs/request-context.md
  docs/security.md
  package.json
  packages/react/etc/react.api.md
  packages/react/src/decorators/react-render.decorator.ts
  packages/react/src/index.ts
  packages/react/src/interfaces/render-config.interface.ts
  packages/react/src/interfaces/render-context.interface.ts
  packages/react/src/interfaces/representation-policy.interface.ts
  packages/react/src/interfaces/representation.interface.ts
  packages/react/src/react/navigation/__tests__/segment-schema.spec.ts
  packages/react/src/render/__tests__/json-api.spec.ts
  packages/react/src/render/__tests__/render.interceptor.spec.ts
  packages/react/src/render/__tests__/representation-pipeline.spec.ts
  packages/react/src/render/pipeline/__tests__/legacy-result-adapter.spec.ts
  packages/react/src/render/pipeline/__tests__/media-type.spec.ts
  packages/react/src/render/pipeline/__tests__/negotiator.spec.ts
  packages/react/src/render/pipeline/__tests__/public-context.spec.ts
  packages/react/src/render/pipeline/__tests__/public-payload.spec.ts
  packages/react/src/render/pipeline/__tests__/render-scope.spec.ts
  packages/react/src/render/pipeline/__tests__/representation-policy.spec.ts
  packages/react/src/render/pipeline/__tests__/safe-serialize.spec.ts
  packages/react/src/render/pipeline/legacy-result-adapter.ts
  packages/react/src/render/pipeline/negotiator.ts
  packages/react/src/render/pipeline/public-context.ts
  packages/react/src/render/pipeline/public-payload.ts
  packages/react/src/render/pipeline/render-scope.ts
  packages/react/src/render/pipeline/representation-policy.ts
  packages/react/src/render/pipeline/safe-serialize.ts
  packages/react/src/render/render.interceptor.ts
  packages/react/src/render/render.module.ts
  packages/react/test/bench/baseline.json
  packages/react/test/bench/render-pipeline.bench.ts
  packages/react/test/e2e/specs/representation.spec.ts
Due: format, lint

docs(render): Align the response-negotiation spec with the no-break contract
  openspec/changes/secure-response-negotiation/design.md
  openspec/changes/secure-response-negotiation/proposal.md
  openspec/changes/secure-response-negotiation/specs/content-negotiation/spec.md
  openspec/changes/secure-response-negotiation/specs/json-api-config/spec.md
  openspec/changes/secure-response-negotiation/specs/render-response-security/spec.md
  openspec/changes/secure-response-negotiation/specs/representation-pipeline/spec.md
  openspec/changes/secure-response-negotiation/tasks.md
Due: format

docs(docs): Plan the Nest 12 platform release as an openspec change
  openspec/changes/nest-12-platform/.openspec.yaml
  openspec/changes/nest-12-platform/design.md
  openspec/changes/nest-12-platform/proposal.md
  openspec/changes/nest-12-platform/specs/dev-error-page/spec.md
  openspec/changes/nest-12-platform/specs/dev-view-hot-update/spec.md
  openspec/changes/nest-12-platform/specs/performance-budgets/spec.md
  openspec/changes/nest-12-platform/specs/platform-support/spec.md
  openspec/changes/nest-12-platform/specs/project-scaffolding/spec.md
  openspec/changes/nest-12-platform/specs/render-response-security/spec.md
  openspec/changes/nest-12-platform/specs/route-code-splitting/spec.md
  openspec/changes/nest-12-platform/tasks.md
Due: format

docs(docs): Hold the Nest 12 plan to full backwards compatibility
  openspec/changes/archive/2026-09-26-secure-response-negotiation/.openspec.yaml
  openspec/changes/archive/2026-09-26-secure-response-negotiation/design.md
  openspec/changes/archive/2026-09-26-secure-response-negotiation/proposal.md
  openspec/changes/archive/2026-09-26-secure-response-negotiation/specs/content-negotiation/spec.md
  openspec/changes/archive/2026-09-26-secure-response-negotiation/specs/json-api-config/spec.md
  openspec/changes/archive/2026-09-26-secure-response-negotiation/specs/render-response-security/spec.md
  openspec/changes/archive/2026-09-26-secure-response-negotiation/specs/representation-pipeline/spec.md
  openspec/changes/archive/2026-09-26-secure-response-negotiation/tasks.md
  openspec/changes/nest-12-platform/design.md
  openspec/changes/nest-12-platform/proposal.md
  openspec/changes/nest-12-platform/specs/platform-support/spec.md
  openspec/changes/nest-12-platform/tasks.md
  openspec/specs/content-negotiation/spec.md
  openspec/specs/json-api-config/spec.md
  openspec/specs/kebab-case-hydration/spec.md
  openspec/specs/render-response-security/spec.md
  openspec/specs/representation-pipeline/spec.md
Due: format

test(render): Measure end-to-end SSR throughput against JSON
  openspec/changes/nest-12-platform/tasks.md
  packages/react/package.json
  packages/react/test/perf/baseline.json
  packages/react/test/perf/http.ts
  pnpm-lock.yaml
Due: format, lint

chore(deps): Move the workspace to pnpm 12
  .github/workflows/browser-tests.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/release.yml
  .npmrc
  openspec/changes/nest-12-platform/tasks.md
  package.json
  packages/react/test/integration/setup/create-fixtures.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint

build(deps): Build the package with tsdown on TypeScript 7
  openspec/changes/nest-12-platform/tasks.md
  packages/react/.dependency-cruiser.cjs
  packages/react/api-extractor.json
  packages/react/etc/react.api.md
  packages/react/package.json
  packages/react/src/__tests__/unit/package-shape.spec.ts
  packages/react/tsconfig.json
  packages/react/tsdown.config.ts
  packages/react/tsup.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/security-check.mjs
Due: format, lint

build(ci): Lint with oxlint so the repo can run on TypeScript 7
  .github/workflows/ci.yml
  .oxlintrc.json
  eslint.config.mjs
  lefthook.yml
  openspec/changes/nest-12-platform/tasks.md
  package.json
  packages/react/package.json
  packages/react/src/__tests__/unit/package-shape.spec.ts
  packages/react/src/react/navigation/resolve-component.ts
  packages/react/src/render/pipeline/public-context.ts
  packages/react/src/render/render.interceptor.ts
  pnpm-lock.yaml
Due: format, lint

test(render): Record toolchain timings after the TypeScript 7 move
  openspec/changes/nest-12-platform/tasks.md
  packages/react/test/perf/baseline.json
Due: format

test(ci): Run the browser-suite fixtures under pnpm 12
  packages/react/test/e2e/setup/create-fixtures.ts
  packages/react/test/integration/setup/create-fixtures.ts
Due: format, lint

feat(render): Support NestJS 12 alongside NestJS 11
  .github/workflows/browser-tests.yml
  packages/react/package.json
  packages/react/src/__tests__/unit/package-shape.spec.ts
  packages/react/src/cli/init.ts
  packages/react/src/render/__tests__/server-module-loader.spec.ts
  packages/react/src/render/package-paths.ts
  packages/react/src/render/render.module.ts
  packages/react/src/render/render.service.ts
  packages/react/src/render/server-module-loader.ts
  packages/react/test/e2e/global-setup.ts
  packages/react/test/e2e/setup/create-fixtures.ts
  packages/react/test/integration/global-setup.ts
  packages/react/test/integration/setup/create-fixtures.ts
  packages/react/test/shared/esm-fixture.ts
  packages/react/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint

build(examples): Run the example on Nest 12
  examples/minimal/package.json
  knip.json
  pnpm-lock.yaml
Due: format

perf(render): Detach and validate the public payload in one pass
  packages/react/src/render/pipeline/__tests__/public-snapshot.equivalence.spec.ts
  packages/react/src/render/pipeline/__tests__/safe-serialize.spec.ts
  packages/react/src/render/pipeline/public-payload.ts
  packages/react/src/render/pipeline/public-snapshot.ts
Due: format, lint

perf(render): Import the production server bundle once
  packages/react/src/render/__tests__/server-module-loader.spec.ts
  packages/react/src/render/server-module-loader.ts
Due: format, lint

test(render): Gate end-to-end SSR cost on server CPU per request
  packages/react/test/bench/baseline.json
  packages/react/test/perf/baseline.json
  packages/react/test/perf/cpu-probe.cjs
  packages/react/test/perf/http.ts
Due: format, lint

perf(render): Serialize plain hydration state in one pass
  packages/react/src/render/pipeline/__tests__/hydration-serializer.equivalence.spec.ts
  packages/react/src/render/pipeline/__tests__/public-snapshot.equivalence.spec.ts
  packages/react/src/render/pipeline/__tests__/random-graph.ts
  packages/react/src/render/pipeline/hydration-serializer.ts
  packages/react/src/render/pipeline/public-snapshot.ts
  packages/react/src/render/template-parser.service.ts
Due: format, lint

docs(docs): Record measured performance and progress in the Nest 12 plan
  openspec/changes/nest-12-platform/design.md
  openspec/changes/nest-12-platform/proposal.md
  openspec/changes/nest-12-platform/specs/render-response-security/spec.md
  openspec/changes/nest-12-platform/tasks.md
Due: format

feat(hydration): Load views per route in new projects
  .prettierignore
  examples/minimal/vite.config.mjs
  knip.json
  packages/react/package.json
  packages/react/src/__tests__/unit/package-shape.spec.ts
  packages/react/src/cli/__tests__/init.spec.ts
  packages/react/src/cli/init.ts
  packages/react/src/client.ts
  packages/react/src/global.d.ts
  packages/react/src/react/navigation/__tests__/lazy-views.spec.ts
  packages/react/src/react/navigation/lazy-views.ts
  packages/react/src/react/navigation/navigate.ts
  packages/react/src/render/__tests__/template-parser.service.spec.ts
  packages/react/src/render/renderers/stream-renderer.ts
  packages/react/src/render/renderers/string-renderer.ts
  packages/react/src/render/template-parser.service.ts
  packages/react/src/render/template.util.ts
  packages/react/src/templates/entry-client.tsx
  packages/react/src/vite/__tests__/view-names.spec.ts
  packages/react/src/vite/index.ts
  packages/react/test/e2e/setup/create-fixtures.ts
  packages/react/test/shared/legacy-entry-client.tsx
  packages/react/tsdown.config.ts
Due: format, lint

feat(cli): Update views without restarting Nest in development
  packages/react/src/cli/__tests__/dev.spec.ts
  packages/react/src/cli/__tests__/init.spec.ts
  packages/react/src/cli/dev.ts
  packages/react/src/cli/init.ts
  packages/react/src/render/__tests__/fresh-views.spec.ts
  packages/react/src/render/fresh-views.ts
  packages/react/src/render/render.service.ts
Due: format, lint

build(examples): Run the example's Nest dev process through nestjs-ssr dev
  examples/minimal/package.json
  openspec/changes/nest-12-platform/tasks.md
Due: format

build(deps): Give dependency-cruiser the TypeScript API it needs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(render): Show a useful error page when a page throws in development
  examples/minimal/src/app.module.ts
  openspec/changes/nest-12-platform/tasks.md
  packages/react/etc/react.api.md
  packages/react/src/cli/__tests__/init.spec.ts
  packages/react/src/cli/init-project-context.ts
  packages/react/src/interfaces/dev-error.interface.ts
  packages/react/src/interfaces/render-config.interface.ts
  packages/react/src/render/__tests__/dev-error-page.spec.tsx
  packages/react/src/render/__tests__/render.service.spec.ts
  packages/react/src/render/error-pages/dev-error-details.ts
  packages/react/src/render/error-pages/error-page-development.tsx
  packages/react/src/render/render.module.ts
  packages/react/src/render/render.service.ts
  packages/react/src/render/streaming-error-handler.ts
Due: format, lint

fix(cli): Generate scripts for the project's package manager
  packages/react/src/cli/__tests__/init-project-context.spec.ts
  packages/react/src/cli/__tests__/init.spec.ts
  packages/react/src/cli/init-project-context.ts
  packages/react/src/cli/init.ts
Due: format, lint

fix(render): Read allowed cookies without a cookie parser
  packages/react/src/render/pipeline/__tests__/public-context.spec.ts
  packages/react/src/render/pipeline/public-context.ts
Due: format, lint

feat(cli): Give new projects a starter layout and welcome page
  knip.json
  packages/react/src/cli/__tests__/init.spec.ts
  packages/react/src/cli/init-project-context.ts
  packages/react/src/cli/init.ts
  packages/react/src/templates/starter/layout.tsx
  packages/react/src/templates/starter/welcome.controller.ts
  packages/react/src/templates/starter/welcome.tsx
  packages/react/test/e2e/setup/create-fixtures.ts
  packages/react/test/integration/setup/create-fixtures.ts
Due: format, lint

docs(docs): Document Nest 12 support, the 0.4 opt-ins and measured performance
  README.md
  docs/.vitepress/config.mts
  docs/development.md
  docs/installation.md
  docs/migration/0.3-to-0.4.md
  docs/performance.md
  docs/request-context.md
  openspec/changes/nest-12-platform/tasks.md
Due: format

build(ci): add browser-suite and pnpm 12 CI workflows for Nest 12 platform work
  .github/workflows/browser-tests.yml
  .github/workflows/ci.yml
Due: none

docs(docs): plan and document the Nest 12 platform release
  CLAUDE.md
  README.md
  docs/.vitepress/components/HeroSection.vue
  docs/development.md
  docs/guide/layouts.md
  docs/index.md
  docs/migration/0.3-to-0.4.md
  docs/navigation.md
  docs/performance.md
  openspec/changes/2026-09-28-render-pipeline-hardening/.openspec.yaml
  openspec/changes/2026-09-28-render-pipeline-hardening/design.md
  openspec/changes/2026-09-28-render-pipeline-hardening/proposal.md
  openspec/changes/2026-09-28-render-pipeline-hardening/specs/client-navigation-integrity/spec.md
  openspec/changes/2026-09-28-render-pipeline-hardening/specs/render-response-security/spec.md
  openspec/changes/2026-09-28-render-pipeline-hardening/specs/static-asset-serving/spec.md
  openspec/changes/2026-09-28-render-pipeline-hardening/tasks.md
  openspec/changes/nest-12-platform/design.md
  openspec/changes/nest-12-platform/specs/dev-view-hot-update/spec.md
  openspec/changes/nest-12-platform/specs/performance-budgets/spec.md
  openspec/changes/nest-12-platform/specs/platform-support/spec.md
  openspec/changes/nest-12-platform/specs/route-code-splitting/spec.md
  openspec/changes/nest-12-platform/tasks.md
Due: format

build(examples): run the example on Vitest through nestjs-ssr dev tooling
  examples/minimal/eslint.config.mjs
  examples/minimal/package.json
  examples/minimal/src/app.controller.ts
  examples/minimal/src/app.module.ts
  examples/minimal/src/chefs.controller.ts
  examples/minimal/src/chefs.service.ts
  examples/minimal/src/main.ts
  examples/minimal/src/recipes.controller.ts
  examples/minimal/src/recipes.service.ts
  examples/minimal/src/specials/specials.controller.ts
  examples/minimal/src/specials/views/recipe-list.tsx
  examples/minimal/src/views/chef-profile.tsx
  examples/minimal/src/views/entry-client.tsx
  examples/minimal/src/views/home.tsx
  examples/minimal/src/views/layout.tsx
  examples/minimal/src/views/recipe-detail.tsx
  examples/minimal/src/views/recipe-list.tsx
  examples/minimal/src/views/recipes-layout.tsx
  examples/minimal/test/app.e2e-spec.ts
  examples/minimal/test/app.test.ts
  examples/minimal/test/jest-e2e.json
  examples/minimal/tsconfig.json
  examples/minimal/vite.config.js
Due: format, lint

test(fastify): assert static assets win route priority over app routes
  packages/react/package.json
  packages/react/src/render/__tests__/fastify-static-route-priority.spec.ts
  pnpm-lock.yaml
Due: format, lint

fix(render): harden the render pipeline (group 1)
  examples/minimal/src/views/entry-client.tsx
  examples/minimal/src/views/entry-server.tsx
  packages/react/etc/react.api.md
  packages/react/src/__tests__/unit/compose-layouts.parity.spec.tsx
  packages/react/src/__tests__/unit/compose-layouts.spec.tsx
  packages/react/src/client.ts
  packages/react/src/global.d.ts
  packages/react/src/interfaces/component.interface.ts
  packages/react/src/interfaces/head-fields.ts
  packages/react/src/react/navigation/__tests__/apply-head.spec.ts
  packages/react/src/react/navigation/__tests__/navigate-race.spec.ts
  packages/react/src/react/navigation/compose-layouts.tsx
  packages/react/src/react/navigation/hydrate-segment.tsx
  packages/react/src/react/navigation/navigate.ts
  packages/react/src/render/__tests__/render.service.spec.ts
  packages/react/src/render/__tests__/stream-renderer.spec.ts
  packages/react/src/render/pipeline/__tests__/hydration-serializer.json-path.spec.ts
  packages/react/src/render/pipeline/__tests__/public-snapshot.equivalence.spec.ts
  packages/react/src/render/pipeline/__tests__/public-snapshot.spec.ts
  packages/react/src/render/pipeline/public-snapshot.ts
  packages/react/src/render/render.service.ts
  packages/react/src/render/renderers/stream-renderer.ts
  packages/react/src/render/renderers/string-renderer.ts
  packages/react/src/render/template-parser.service.ts
  packages/react/src/templates/entry-client.tsx
  packages/react/src/templates/entry-server.tsx
Due: format, lint

refactor(api): deprecate jsonApi, static layout props, and JsonApiResponse
  docs/api.md
  docs/configuration.md
  docs/json-api.md
  packages/react/etc/react.api.md
  packages/react/src/interfaces/json-api-response.interface.ts
  packages/react/src/interfaces/layout.interface.ts
  packages/react/src/interfaces/render-config.interface.ts
  packages/react/src/react/hooks/__tests__/use-page-context.spec.tsx
  packages/react/src/react/hooks/use-page-context.tsx
  packages/react/src/react/navigation/lazy-views.ts
  packages/react/src/render/pipeline/__tests__/controller-result-adapter.spec.ts
  packages/react/src/render/pipeline/controller-result-adapter.ts
  packages/react/src/render/render.interceptor.ts
Due: format, lint

docs(perf): document ETag, static-index, and caching numbers
  docs/performance.md
Due: format

refactor(render): drop the head serialization fast path
  packages/react/src/render/pipeline/__tests__/serialize-small-value.spec.ts
  packages/react/src/render/pipeline/hydration-serializer.ts
  packages/react/src/render/template-parser.service.ts
Due: format, lint

docs: update measured performance table and tick render-pipeline-hardening tasks
  docs/performance.md
  openspec/changes/2026-09-28-render-pipeline-hardening/tasks.md
Due: format

perf(render): cut per-request server work (group 2)
  packages/react/src/render/__tests__/render.interceptor.spec.ts
  packages/react/src/render/__tests__/template-parser.service.spec.ts
  packages/react/src/render/__tests__/vite-initializer.service.spec.ts
  packages/react/src/render/pipeline/__tests__/response-policy.spec.ts
  packages/react/src/render/pipeline/__tests__/response-writer.spec.ts
  packages/react/src/render/pipeline/__tests__/serialize-small-value.spec.ts
  packages/react/src/render/pipeline/__tests__/static-asset-index.spec.ts
  packages/react/src/render/pipeline/hydration-serializer.ts
  packages/react/src/render/pipeline/response-policy.ts
  packages/react/src/render/pipeline/response-writer.ts
  packages/react/src/render/pipeline/static-asset-index.ts
  packages/react/src/render/render.interceptor.ts
  packages/react/src/render/template-parser.service.ts
  packages/react/src/render/vite-initializer.service.ts
Due: format, lint

docs(openspec): propose dev-loop restart reliability
  openspec/changes/2026-10-01-dev-loop-restart-reliability/proposal.md
  openspec/changes/2026-10-01-dev-loop-restart-reliability/tasks.md
Due: format

docs(docs): Cover response changes, static index, and deprecations in the migration guide
  docs/migration/0.3-to-0.4.md
Due: format

Path conditions:
  format: any of: *.{ts,tsx,js,jsx,json,md}
  lint: any of: *.{ts,tsx}
